.grid-container1  {
    display: inline-grid;
    background-color: hsl(204, 43%, 93%);
    color: gray;
    grid-template-columns: auto auto auto auto;
    border-radius: 5px;
    width: 100%; 
    height: 100%;
    text-align: start;
    padding-left: 3%;
    font-size: 26px;
}
.grid-container2  {
    display: inline-grid;
    grid-template-columns: 50% 50% auto auto;
    border-radius: 5px;
    width: 100%; 
    height: 100%;
    text-align: center;
    font-size: 16px;

}
h1 {
    font-size: x-large;
}
.yellowText {
    color: rgb(165, 240, 15);
}
.box {
    background-color: hsl(71, 73%, 54%);
    color: whitesmoke;
    border-radius: 5px;
    font-size: x-large;
    justify-content: center;
    width: 80%;
}

.grid-item1 {
    background-color: hsl(179, 62%, 43%);
    color: whitesmoke;
    width: 100%;
    height: 100%;
    text-align: start;
    padding-left: 6%;
    padding-bottom: 10%;
}

.grid-item2 {
    font-family:"karla", serif;
    background-color:hsl(218, 22%, 67%);
    color: whitesmoke;
    width: 100%;
    height: 100%;
    text-align: start;
    padding-left: 6%;
    padding-bottom: 10%;
}